.input__group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input__label {
  color: #5e7a7d;
}

.input__fields {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
.input__fields > * {
  width: 100%;
  min-width: 8rem;
  max-width: 12.3rem;
}
